node_modules
**/*.*~
**/*.swp
**/*~
**/*.sh.*
**/*.sh
Makefile
vendor/
CMakeFiles/
CMakeCache.txt
*.cmake
chat-server
*-bin
*-cxx
*-genfiles
*-out
*-testlogs
.gradle
gradle/
examples/cxx/external/
**/*.a
**/*.o
